* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Roboto", Arial, sans-serif;
}

.header,
.hero,
.footer {
  background-color: #1f2937;
}

.hero-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.menu ul li {
  color: #f9faf8;
}

.btn {
  background-color: #3882f6;
}

.info h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.quote {
  background-color: #e5e7eb;
}

.quote-text {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
}
