* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Roboto", Arial, sans-serif;
}

.header,
.hero,
.footer {
  background-color: #1f2937;
}

/* Header style */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.menu ul {
  display: flex;
  gap: 24px;
  list-style: none;
}

.menu ul li {
  color: #e5e7eb;
  font-size: 18px;
  cursor: pointer;
}

/* Hero text style */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
}

.hero-text h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}
.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 12px;
}

.hero-image img {
  width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
}

.btn {
  background-color: #3882f6;
  color: #fff;
  padding: 12px 28px;
  border-radius: 8px;
  border: none;
  margin-top: 24px;
  font-weight: 900;
  font-size: 16px;
}

/* Info style */

.info {
  padding: 50px 0;
}

.info h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  margin-bottom: 40px;
}

.info-container {
  display: flex;
  padding: 20px 150px;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}

.square {
  width: 200px;
  height: 200px;
  border: 4px solid #3882f6;
  border-radius: 8px;
  margin: 0 auto 12px auto;
}

.square img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Quote style */

.quote {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 75px;
}

.quote-container {
  max-width: 800px;
  text-align: left;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  font-weight: 300;
  margin-bottom: 20px;
}

.author {
  font-weight: bold;
  text-align: right;
  font-size: 20px;
}

/* CTA Style */

.cta {
  padding: 80px 0;
  display: flex;
  justify-content: center;
}

.cta-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 40px 60px;
  border-radius: 8px;
  width: 60%;
}

.cta-text p {
  font-size: 18px;
  color: #e5e7eb;
}

.cta-btn {
   background-color: #3882f6;
  color: #fff;
  padding: 12px 28px;
  border-radius: 8px;
  border: 2px solid #fff;
  margin-top: 24px;
  font-weight: 900;
  font-size: 16px;
  cursor: pointer;
}

/* Footer style */
.footer {
  padding: 30px;
  color:#f9faf8;
  text-align: center;
}